<h2>Добавление нового поста</h2>
<%=form_for :post, url:posts_path do |f| %>
  <%if @post.errors.any? %>
    <%@post.errors.full_messages.each do |msg| %>
     <div class="alert alert-danger"><%=msg %></div>
    <%end %>
  <%end %>
   <p>
    Название<br>
    <%=f.text_field(:title, {:class =>'form-control'} ) %>
   </p>
  <p>
    Текст статьи<br>
    <%=f.text_area(:body, {:class =>'form-control'} )%>
  </p>

  <p>
    <%=f.submit({:class =>'btn btn-success'} )%>
  </p>
<%end %>
<p>
  <h5><%= "Выберите день матча" %></h5>
  <%= date_field(:reservation, :arrival_date) %>
</p>
<label for="league_name"></label><select name="league[name]" id="league_name">
  <option value="140" selected="selected">La Liga</option>
  <option value="39">Premier League</option>
  <option value="78">Bundesliga 1</option>
</select>
<br>

<div id="wg-api-football-fixtures"
     data-host="v3.football.api-sports.io"
     data-refresh="60"
     data-date=""
     data-league=<%= @league %>
     data-team = ""
     data-season="2021"
     data-last=""
     data-next="15"
     data-key="21156322e71ca970ba5b42583049c570"
     data-theme=""
     data-show-errors="false"
     class="api_football_loader">
</div>
<script
  type="module"
  src="https://widgets.api-sports.io/football/1.1.8/widget.js">
</script>

